In [ ]:
```python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
```

# 1. Data Overview


```python
df = pd.read_csv('college.csv')  
df.head()
```




<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Private</th>
      <th>Apps</th>
      <th>Accept</th>
      <th>Enroll</th>
      <th>Top10perc</th>
      <th>Top25perc</th>
      <th>F.Undergrad</th>
      <th>P.Undergrad</th>
      <th>Outstate</th>
      <th>Room.Board</th>
      <th>Books</th>
      <th>Personal</th>
      <th>PhD</th>
      <th>Terminal</th>
      <th>S.F.Ratio</th>
      <th>perc.alumni</th>
      <th>Expend</th>
      <th>Grad.Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Abilene Christian University</td>
      <td>Yes</td>
      <td>1660</td>
      <td>1232</td>
      <td>721</td>
      <td>23</td>
      <td>52</td>
      <td>2885</td>
      <td>537</td>
      <td>7440</td>
      <td>3300</td>
      <td>450</td>
      <td>2200</td>
      <td>70</td>
      <td>78</td>
      <td>18.1</td>
      <td>12</td>
      <td>7041</td>
      <td>60</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Adelphi University</td>
      <td>Yes</td>
      <td>2186</td>
      <td>1924</td>
      <td>512</td>
      <td>16</td>
      <td>29</td>
      <td>2683</td>
      <td>1227</td>
      <td>12280</td>
      <td>6450</td>
      <td>750</td>
      <td>1500</td>
      <td>29</td>
      <td>30</td>
      <td>12.2</td>
      <td>16</td>
      <td>10527</td>
      <td>56</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Adrian College</td>
      <td>Yes</td>
      <td>1428</td>
      <td>1097</td>
      <td>336</td>
      <td>22</td>
      <td>50</td>
      <td>1036</td>
      <td>99</td>
      <td>11250</td>
      <td>3750</td>
      <td>400</td>
      <td>1165</td>
      <td>53</td>
      <td>66</td>
      <td>12.9</td>
      <td>30</td>
      <td>8735</td>
      <td>54</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Agnes Scott College</td>
      <td>Yes</td>
      <td>417</td>
      <td>349</td>
      <td>137</td>
      <td>60</td>
      <td>89</td>
      <td>510</td>
      <td>63</td>
      <td>12960</td>
      <td>5450</td>
      <td>450</td>
      <td>875</td>
      <td>92</td>
      <td>97</td>
      <td>7.7</td>
      <td>37</td>
      <td>19016</td>
      <td>59</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Alaska Pacific University</td>
      <td>Yes</td>
      <td>193</td>
      <td>146</td>
      <td>55</td>
      <td>16</td>
      <td>44</td>
      <td>249</td>
      <td>869</td>
      <td>7560</td>
      <td>4120</td>
      <td>800</td>
      <td>1500</td>
      <td>76</td>
      <td>72</td>
      <td>11.9</td>
      <td>2</td>
      <td>10922</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>




```python
df.describe()
```




<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Apps</th>
      <th>Accept</th>
      <th>Enroll</th>
      <th>Top10perc</th>
      <th>Top25perc</th>
      <th>F.Undergrad</th>
      <th>P.Undergrad</th>
      <th>Outstate</th>
      <th>Room.Board</th>
      <th>Books</th>
      <th>Personal</th>
      <th>PhD</th>
      <th>Terminal</th>
      <th>S.F.Ratio</th>
      <th>perc.alumni</th>
      <th>Expend</th>
      <th>Grad.Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.000000</td>
      <td>777.00000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3001.638353</td>
      <td>2018.804376</td>
      <td>779.972973</td>
      <td>27.558559</td>
      <td>55.796654</td>
      <td>3699.907336</td>
      <td>855.298584</td>
      <td>10440.669241</td>
      <td>4357.526384</td>
      <td>549.380952</td>
      <td>1340.642214</td>
      <td>72.660232</td>
      <td>79.702703</td>
      <td>14.089704</td>
      <td>22.743887</td>
      <td>9660.171171</td>
      <td>65.46332</td>
    </tr>
    <tr>
      <th>std</th>
      <td>3870.201484</td>
      <td>2451.113971</td>
      <td>929.176190</td>
      <td>17.640364</td>
      <td>19.804778</td>
      <td>4850.420531</td>
      <td>1522.431887</td>
      <td>4023.016484</td>
      <td>1096.696416</td>
      <td>165.105360</td>
      <td>677.071454</td>
      <td>16.328155</td>
      <td>14.722359</td>
      <td>3.958349</td>
      <td>12.391801</td>
      <td>5221.768440</td>
      <td>17.17771</td>
    </tr>
    <tr>
      <th>min</th>
      <td>81.000000</td>
      <td>72.000000</td>
      <td>35.000000</td>
      <td>1.000000</td>
      <td>9.000000</td>
      <td>139.000000</td>
      <td>1.000000</td>
      <td>2340.000000</td>
      <td>1780.000000</td>
      <td>96.000000</td>
      <td>250.000000</td>
      <td>8.000000</td>
      <td>24.000000</td>
      <td>2.500000</td>
      <td>0.000000</td>
      <td>3186.000000</td>
      <td>10.00000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>776.000000</td>
      <td>604.000000</td>
      <td>242.000000</td>
      <td>15.000000</td>
      <td>41.000000</td>
      <td>992.000000</td>
      <td>95.000000</td>
      <td>7320.000000</td>
      <td>3597.000000</td>
      <td>470.000000</td>
      <td>850.000000</td>
      <td>62.000000</td>
      <td>71.000000</td>
      <td>11.500000</td>
      <td>13.000000</td>
      <td>6751.000000</td>
      <td>53.00000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1558.000000</td>
      <td>1110.000000</td>
      <td>434.000000</td>
      <td>23.000000</td>
      <td>54.000000</td>
      <td>1707.000000</td>
      <td>353.000000</td>
      <td>9990.000000</td>
      <td>4200.000000</td>
      <td>500.000000</td>
      <td>1200.000000</td>
      <td>75.000000</td>
      <td>82.000000</td>
      <td>13.600000</td>
      <td>21.000000</td>
      <td>8377.000000</td>
      <td>65.00000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3624.000000</td>
      <td>2424.000000</td>
      <td>902.000000</td>
      <td>35.000000</td>
      <td>69.000000</td>
      <td>4005.000000</td>
      <td>967.000000</td>
      <td>12925.000000</td>
      <td>5050.000000</td>
      <td>600.000000</td>
      <td>1700.000000</td>
      <td>85.000000</td>
      <td>92.000000</td>
      <td>16.500000</td>
      <td>31.000000</td>
      <td>10830.000000</td>
      <td>78.00000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>48094.000000</td>
      <td>26330.000000</td>
      <td>6392.000000</td>
      <td>96.000000</td>
      <td>100.000000</td>
      <td>31643.000000</td>
      <td>21836.000000</td>
      <td>21700.000000</td>
      <td>8124.000000</td>
      <td>2340.000000</td>
      <td>6800.000000</td>
      <td>103.000000</td>
      <td>100.000000</td>
      <td>39.800000</td>
      <td>64.000000</td>
      <td>56233.000000</td>
      <td>118.00000</td>
    </tr>
  </tbody>
</table>
</div>




```python
df.info()
```

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 777 entries, 0 to 776
    Data columns (total 19 columns):
     #   Column       Non-Null Count  Dtype  
    ---  ------       --------------  -----  
     0   Unnamed: 0   777 non-null    object 
     1   Private      777 non-null    object 
     2   Apps         777 non-null    int64  
     3   Accept       777 non-null    int64  
     4   Enroll       777 non-null    int64  
     5   Top10perc    777 non-null    int64  
     6   Top25perc    777 non-null    int64  
     7   F.Undergrad  777 non-null    int64  
     8   P.Undergrad  777 non-null    int64  
     9   Outstate     777 non-null    int64  
     10  Room.Board   777 non-null    int64  
     11  Books        777 non-null    int64  
     12  Personal     777 non-null    int64  
     13  PhD          777 non-null    int64  
     14  Terminal     777 non-null    int64  
     15  S.F.Ratio    777 non-null    float64
     16  perc.alumni  777 non-null    int64  
     17  Expend       777 non-null    int64  
     18  Grad.Rate    777 non-null    int64  
    dtypes: float64(1), int64(16), object(2)
    memory usage: 115.5+ KB
    

# 2. Data Processing

# 3. Model

## 3.1 Random Forest


```python
data['Elite'].sum()
```




    112




```python
import numpy as np
data['Private_numeric'] = np.where(data['Private'].str.lower() == 'yes', 1, 0)
```


```python
data
```




<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Private</th>
      <th>Apps</th>
      <th>Accept</th>
      <th>Enroll</th>
      <th>Top10perc</th>
      <th>Top25perc</th>
      <th>F.Undergrad</th>
      <th>P.Undergrad</th>
      <th>Outstate</th>
      <th>...</th>
      <th>Books</th>
      <th>Personal</th>
      <th>PhD</th>
      <th>Terminal</th>
      <th>S.F.Ratio</th>
      <th>perc.alumni</th>
      <th>Expend</th>
      <th>Grad.Rate</th>
      <th>Elite</th>
      <th>Private_numeric</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Abilene Christian University</td>
      <td>Yes</td>
      <td>1660</td>
      <td>1232</td>
      <td>721</td>
      <td>23</td>
      <td>52</td>
      <td>2885</td>
      <td>537</td>
      <td>7440</td>
      <td>...</td>
      <td>450</td>
      <td>2200</td>
      <td>70</td>
      <td>78</td>
      <td>18.1</td>
      <td>12</td>
      <td>7041</td>
      <td>60</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Adelphi University</td>
      <td>Yes</td>
      <td>2186</td>
      <td>1924</td>
      <td>512</td>
      <td>16</td>
      <td>29</td>
      <td>2683</td>
      <td>1227</td>
      <td>12280</td>
      <td>...</td>
      <td>750</td>
      <td>1500</td>
      <td>29</td>
      <td>30</td>
      <td>12.2</td>
      <td>16</td>
      <td>10527</td>
      <td>56</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Adrian College</td>
      <td>Yes</td>
      <td>1428</td>
      <td>1097</td>
      <td>336</td>
      <td>22</td>
      <td>50</td>
      <td>1036</td>
      <td>99</td>
      <td>11250</td>
      <td>...</td>
      <td>400</td>
      <td>1165</td>
      <td>53</td>
      <td>66</td>
      <td>12.9</td>
      <td>30</td>
      <td>8735</td>
      <td>54</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Agnes Scott College</td>
      <td>Yes</td>
      <td>417</td>
      <td>349</td>
      <td>137</td>
      <td>60</td>
      <td>89</td>
      <td>510</td>
      <td>63</td>
      <td>12960</td>
      <td>...</td>
      <td>450</td>
      <td>875</td>
      <td>92</td>
      <td>97</td>
      <td>7.7</td>
      <td>37</td>
      <td>19016</td>
      <td>59</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Alaska Pacific University</td>
      <td>Yes</td>
      <td>193</td>
      <td>146</td>
      <td>55</td>
      <td>16</td>
      <td>44</td>
      <td>249</td>
      <td>869</td>
      <td>7560</td>
      <td>...</td>
      <td>800</td>
      <td>1500</td>
      <td>76</td>
      <td>72</td>
      <td>11.9</td>
      <td>2</td>
      <td>10922</td>
      <td>15</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>772</th>
      <td>Worcester State College</td>
      <td>No</td>
      <td>2197</td>
      <td>1515</td>
      <td>543</td>
      <td>4</td>
      <td>26</td>
      <td>3089</td>
      <td>2029</td>
      <td>6797</td>
      <td>...</td>
      <td>500</td>
      <td>1200</td>
      <td>60</td>
      <td>60</td>
      <td>21.0</td>
      <td>14</td>
      <td>4469</td>
      <td>40</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>773</th>
      <td>Xavier University</td>
      <td>Yes</td>
      <td>1959</td>
      <td>1805</td>
      <td>695</td>
      <td>24</td>
      <td>47</td>
      <td>2849</td>
      <td>1107</td>
      <td>11520</td>
      <td>...</td>
      <td>600</td>
      <td>1250</td>
      <td>73</td>
      <td>75</td>
      <td>13.3</td>
      <td>31</td>
      <td>9189</td>
      <td>83</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>774</th>
      <td>Xavier University of Louisiana</td>
      <td>Yes</td>
      <td>2097</td>
      <td>1915</td>
      <td>695</td>
      <td>34</td>
      <td>61</td>
      <td>2793</td>
      <td>166</td>
      <td>6900</td>
      <td>...</td>
      <td>617</td>
      <td>781</td>
      <td>67</td>
      <td>75</td>
      <td>14.4</td>
      <td>20</td>
      <td>8323</td>
      <td>49</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>775</th>
      <td>Yale University</td>
      <td>Yes</td>
      <td>10705</td>
      <td>2453</td>
      <td>1317</td>
      <td>95</td>
      <td>99</td>
      <td>5217</td>
      <td>83</td>
      <td>19840</td>
      <td>...</td>
      <td>630</td>
      <td>2115</td>
      <td>96</td>
      <td>96</td>
      <td>5.8</td>
      <td>49</td>
      <td>40386</td>
      <td>99</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>776</th>
      <td>York College of Pennsylvania</td>
      <td>Yes</td>
      <td>2989</td>
      <td>1855</td>
      <td>691</td>
      <td>28</td>
      <td>63</td>
      <td>2988</td>
      <td>1726</td>
      <td>4990</td>
      <td>...</td>
      <td>500</td>
      <td>1250</td>
      <td>75</td>
      <td>75</td>
      <td>18.1</td>
      <td>28</td>
      <td>4509</td>
      <td>99</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>777 rows Ã— 21 columns</p>
</div>




```python
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score, classification_report

# load the data
data = pd.read_csv("College.csv")

# preprocessing
data['Private_numeric'] = np.where(data['Private'].str.lower() == 'yes', 1, 0)

median_apps = data['Apps'].median()
median_alumni = data['perc.alumni'].median()

data['Elite'] = ((data['Grad.Rate'] > 75) & 
                 (data['Apps'] > median_apps) & 
                 (data['perc.alumni'] > median_alumni)).astype(int)

# fetures and target variable
features = ['Accept', 'Enroll', 'Top10perc', 'F.Undergrad', 
            'Outstate', 'Room.Board', 'Books', 'Personal', 
            'PhD', 'Terminal', 'S.F.Ratio', 'Expend', 'Private_numeric']
X = data[features]
y = data['Elite']

# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# random forest 
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# train the data
rf_model.fit(X_train, y_train)

# prediction
y_pred = rf_model.predict(X_test)
y_pred_proba = rf_model.predict_proba(X_test)[:, 1]

# evaluation
accuracy = accuracy_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred_proba)
print("Accuracy:", accuracy)
print("ROC AUC:", roc_auc)
print("Classification Report:\n", classification_report(y_test, y_pred))

# feature importance
importances = rf_model.feature_importances_
feature_importance = pd.DataFrame({'Feature': features, 'Importance': importances}).sort_values(by='Importance', ascending=False)
print("\nFeature Importance:\n", feature_importance)

```

    Accuracy: 0.9273504273504274
    ROC AUC: 0.9595258136924804
    Classification Report:
                   precision    recall  f1-score   support
    
               0       0.93      0.98      0.96       198
               1       0.88      0.61      0.72        36
    
        accuracy                           0.93       234
       macro avg       0.91      0.80      0.84       234
    weighted avg       0.92      0.93      0.92       234
    
    
    Feature Importance:
                 Feature  Importance
    4          Outstate    0.184025
    2         Top10perc    0.122649
    0            Accept    0.097213
    11           Expend    0.086384
    1            Enroll    0.086366
    3       F.Undergrad    0.083317
    5        Room.Board    0.081015
    7          Personal    0.060401
    10        S.F.Ratio    0.058595
    9          Terminal    0.049574
    8               PhD    0.048563
    6             Books    0.027065
    12  Private_numeric    0.014833
    

## 3.2 Logistic Regression


```python
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

# load the data
data = pd.read_csv("College.csv")

# proprocessing
data['Private_numeric'] = np.where(data['Private'].str.lower() == 'yes', 1, 0)

# binary variable
median_apps = data['Apps'].median()
median_alumni = data['perc.alumni'].median()

data['Elite'] = ((data['Grad.Rate'] > 75) & 
                 (data['Apps'] > median_apps) & 
                 (data['perc.alumni'] > median_alumni)).astype(int)

# features and target variable
features = ['Accept', 'Enroll', 'Top10perc', 'F.Undergrad', 
            'Outstate', 'Room.Board', 'Books', 'Personal', 
            'PhD', 'Terminal', 'S.F.Ratio', 'Expend', 'Private_numeric']
X = data[features]
y = data['Elite']

# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# MinMaxScaler
scaler = MinMaxScaler()

# train and predict
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# logistic
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, classification_report, accuracy_score

log_reg_model = LogisticRegression(max_iter=1000, random_state=42)
log_reg_model.fit(X_train_scaled, y_train)
y_pred_log = log_reg_model.predict(X_test_scaled)
y_pred_proba_log = log_reg_model.predict_proba(X_test_scaled)[:, 1]

# evaluation
accuracy_log = accuracy_score(y_test, y_pred_log)
roc_auc_log = roc_auc_score(y_test, y_pred_proba_log)

print("Logistic Regression - Accuracy:", accuracy_log)
print("Logistic Regression - ROC AUC:", roc_auc_log)
print("Logistic Regression - Classification Report:\n", classification_report(y_test, y_pred_log))

```

    Logistic Regression - Accuracy: 0.9102564102564102
    Logistic Regression - ROC AUC: 0.9395342312008979
    Logistic Regression - Classification Report:
                   precision    recall  f1-score   support
    
               0       0.91      0.99      0.95       198
               1       0.94      0.44      0.60        36
    
        accuracy                           0.91       234
       macro avg       0.92      0.72      0.78       234
    weighted avg       0.91      0.91      0.90       234
    
    


```python
import pandas as pd

# Getting the coefficients from the logistic regression model
feature_importance = log_reg_model.coef_[0]

# If you have a DataFrame of features, you can match the feature names
features = pd.DataFrame(feature_importance, index=X_train.columns, columns=["Coefficient"])
features = features.abs().sort_values(by="Coefficient", ascending=False)
print(features)

```

                     Coefficient
    Outstate            2.767891
    Top10perc           2.155170
    Personal            1.217562
    PhD                 1.176484
    Terminal            1.171240
    Room.Board          0.620127
    Private_numeric     0.517095
    Expend              0.351488
    Books               0.351173
    Enroll              0.297975
    F.Undergrad         0.295728
    Accept              0.113923
    S.F.Ratio           0.055213
    


```python
import statsmodels.api as sm

# import constant
X_train_sm = sm.add_constant(X_train)

# use Statsmodels 
logit_model = sm.Logit(y_train, X_train_sm)
result = logit_model.fit()

# output
print(result.summary())

```

    Optimization terminated successfully.
             Current function value: 0.253343
             Iterations 8
                               Logit Regression Results                           
    ==============================================================================
    Dep. Variable:                  Elite   No. Observations:                  543
    Model:                          Logit   Df Residuals:                      529
    Method:                           MLE   Df Model:                           13
    Date:                Sun, 01 Dec 2024   Pseudo R-squ.:                  0.3743
    Time:                        19:19:37   Log-Likelihood:                -137.57
    converged:                       True   LL-Null:                       -219.86
    Covariance Type:            nonrobust   LLR p-value:                 2.319e-28
    ===================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
    -----------------------------------------------------------------------------------
    const              -8.9741      2.132     -4.209      0.000     -13.153      -4.795
    Accept           -4.03e-05      0.000     -0.182      0.855      -0.000       0.000
    Enroll              0.0027      0.001      2.732      0.006       0.001       0.005
    Top10perc           0.0336      0.011      2.928      0.003       0.011       0.056
    F.Undergrad        -0.0006      0.000     -2.310      0.021      -0.001   -8.64e-05
    Outstate            0.0003   7.03e-05      3.664      0.000       0.000       0.000
    Room.Board       2.188e-05      0.000      0.119      0.906      -0.000       0.000
    Books               0.0010      0.001      0.996      0.319      -0.001       0.003
    Personal           -0.0006      0.000     -1.721      0.085      -0.001    8.21e-05
    PhD                 0.0154      0.023      0.663      0.507      -0.030       0.061
    Terminal            0.0169      0.029      0.586      0.558      -0.040       0.073
    S.F.Ratio           0.0385      0.063      0.611      0.541      -0.085       0.162
    Expend          -2.912e-05   3.84e-05     -0.758      0.449      -0.000    4.62e-05
    Private_numeric    -0.0667      0.763     -0.088      0.930      -1.561       1.428
    ===================================================================================
    

## 3.3 Model Comparison


```python
# Print results for Random Forest
print("Random Forest - Accuracy:", accuracy)
print("Random Forest - ROC AUC:", roc_auc)

# Print results for Logistic Regression
print("Logistic Regression - Accuracy:", accuracy_log)
print("Logistic Regression - ROC AUC:", roc_auc_log)

# Visualize the ROC curves for both models
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

# Random Forest ROC Curve
fpr_rf, tpr_rf, _ = roc_curve(y_test, y_pred_proba)
# Logistic Regression ROC Curve
fpr_log, tpr_log, _ = roc_curve(y_test, y_pred_proba_log)

plt.figure(figsize=(10, 6))
plt.plot(fpr_rf, tpr_rf, label='Random Forest (AUC = {:.2f})'.format(roc_auc))
plt.plot(fpr_log, tpr_log, label='Logistic Regression (AUC = {:.2f})'.format(roc_auc_log))
plt.plot([0, 1], [0, 1], 'k--', label='Chance')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC Curve Comparison')
plt.legend()
plt.show()

```

    Random Forest - Accuracy: 0.9145299145299145
    Random Forest - ROC AUC: 0.9560185185185185
    Logistic Regression - Accuracy: 0.8974358974358975
    Logistic Regression - ROC AUC: 0.9344837261503929
    


    
![png](output_17_1.png)
    


## 3.4 Robustness


```python
from sklearn.model_selection import cross_val_score

# Cross-validation for Random Forest
rf_cv_scores = cross_val_score(rf_model, X, y, cv=5, scoring='accuracy')
print("Random Forest - Cross-Validation Accuracy:", rf_cv_scores)
print("Random Forest - Mean CV Accuracy:", rf_cv_scores.mean())

# Cross-validation for Logistic Regression
log_reg_cv_scores = cross_val_score(log_reg_model, X, y, cv=5, scoring='accuracy')
print("Logistic Regression - Cross-Validation Accuracy:", log_reg_cv_scores)
print("Logistic Regression - Mean CV Accuracy:", log_reg_cv_scores.mean())

```

    Random Forest - Cross-Validation Accuracy: [0.91025641 0.94230769 0.92258065 0.86451613 0.94193548]
    Random Forest - Mean CV Accuracy: 0.9163192721257236
    

    D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
    STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
    
    Increase the number of iterations (max_iter) or scale the data as shown in:
        https://scikit-learn.org/stable/modules/preprocessing.html
    Please also refer to the documentation for alternative solver options:
        https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
      n_iter_i = _check_optimize_result(
    D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
    STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
    
    Increase the number of iterations (max_iter) or scale the data as shown in:
        https://scikit-learn.org/stable/modules/preprocessing.html
    Please also refer to the documentation for alternative solver options:
        https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
      n_iter_i = _check_optimize_result(
    D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
    STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
    
    Increase the number of iterations (max_iter) or scale the data as shown in:
        https://scikit-learn.org/stable/modules/preprocessing.html
    Please also refer to the documentation for alternative solver options:
        https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
      n_iter_i = _check_optimize_result(
    D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
    STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
    
    Increase the number of iterations (max_iter) or scale the data as shown in:
        https://scikit-learn.org/stable/modules/preprocessing.html
    Please also refer to the documentation for alternative solver options:
        https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
      n_iter_i = _check_optimize_result(
    

    Logistic Regression - Cross-Validation Accuracy: [0.89102564 0.8974359  0.88387097 0.83225806 0.91612903]
    Logistic Regression - Mean CV Accuracy: 0.8841439205955336
    

    D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
    STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
    
    Increase the number of iterations (max_iter) or scale the data as shown in:
        https://scikit-learn.org/stable/modules/preprocessing.html
    Please also refer to the documentation for alternative solver options:
        https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
      n_iter_i = _check_optimize_result(
    


```python

```